<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Type:</strong>
  <%= @user.type %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<br />
<br />
<br />

<p>
  <strong>History of change</strong>
</p>

<p>
  <% @user.log_type.each do |log| %>
    <strong>Relationship</strong> changed to:
    <%= log.first %> 
    <small><em><%= time_ago_in_words log.last %> ago</em></small><br />
  <% end %> 
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


